---
layout: default
---
<div class="home container">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">{{ post.title | escape }}</h2>
        </div>
        <div class="panel-body">
          <span class="post-meta">{{ post.excerpt }}</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><a href="https://github.com/{{ post.repo }}">View on Github</a></li>
          <li class="list-group-item">Contribute</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
